<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <label><input type="radio" value="face1.png" v-model="fileName"> face1 </label><br>
        <label><input type="radio" value="face2.png" v-model="fileName"> face1 </label><br>
        <p>{{fileName}}</p>
        <img v-bind:src="fileName" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                fileName: ""
            },
            methods: {

            }
        });
    </script>
</body>

</html>